{ 
  "token"  : "DISCORD_API_TOKEN",
  "mongo"  : "mongodb://yourmongohost:PORT/database_to_be_used",
  "prefix" : "+",
  "help_prefix" : "!",
  "devPrefix" : "|",
  "modonly": true,
  "maxTimeFocus": 6000,
  "nc_endpoint": "http://thumb.napchart.com:1771/api"
}

