{
  "token"  : "DISCORD_API_TOKEN",
  "mongo"  : "mongodb://yourmongohost:PORT/database_to_be_used",
  "prefix" : "+",
  "help_prefix" : "!",
  "devPrefix" : "|",
  "modonly": true,
  "reportInterval": 2,
  "maxTimeFocus": 6000,
  "nc_endpoint": "http://api.napchart.com/v1/",
  "cachePath": "/napchart"
}
