{ 
	"token"  : "DISCORD_API_TOKEN",
	"mongo"  : "mongodb://yourmongohost:PORT/database_to_be_used",
  "prefix" : "+",
  "help_prefix" : "!",
  "devPrefix" : "|",
	"modonly": true,
  "ebayAffiliatePrefix": "https://rover.ebay.com/rover/lorem/ipsum/dolor/sit/amet&mpre="
}

